.hero-section {
    background-position: center;
    background-image: url('../img/image-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    height: 170px;
    width: 100%;
  }

